body {
    font-family: "Roboto mono", monospace;
    /* se usa para llamar la fuente de letra */
    margin: 0;
    /*  todos estas etiquetas hacen que nuestra pagina no se mueva, no tenga scroll */
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    background: black;
}

.img-container img {
    width: 150px;
    height: auto;
    margin-top: 15px;
    margin-left: 70px;
}

.nav-container {
    margin-top: 30px;
}

.nav-container ul li {
    list-style: none;
    display: inline;
    padding: 0 16px;
}

.nav-container a {
    color: white;
    text-decoration: none;
}

.nav-container ul li a:hover {
    color: gray;
    cursor: pointer;
}

.header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
}

.header-icons-container .icons {
    width: 200px;
    height: auto;
    display: flex;           
    justify-items: flex-end;     
    align-items: center;        
    justify-content: space-between;    
    justify-self: end;             
    margin-right: 130px;
    margin-top: 45px;          
}

.icons span {
    color: white;
}

.header-icons-container span:hover {
    color: gray;
    cursor: pointer;
}

.img-container img:hover {
    color: gray;
    cursor: pointer;
}
main {
    margin: 0;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid gray;
}

.sec-img {
   position: relative;
   padding: 30px;
 margin-left: -25px;
   margin-right: 50px;
}

.sec-2 {
    position: absolute;
    margin-left: 900px;
    margin-top: 145px;
}

.sec-2 h2 {
    font-size: 65px;
}

.sec-2 p {
    width: 280px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: -35px;
}

.sec-2 p:hover {
    color: gray;
    cursor: pointer;
}

.sec-2 h2:hover {
    color: gray;
    cursor: pointer;
}

.sec-1 {
    
    margin-left: 120px;
    margin-top: 145px; 
}

.sec-1 h2 {
    font-size: 65px;
    margin-left: 20px;
}

.sec-1 p {
    width: 280px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: -35px;
}

.sec-1 p:hover {
    color: gray;
    cursor: pointer;
}
.sec-1 h2:hover {
    color: gray;
    cursor: pointer;
}

footer {
    text-align: center;
}

h1 {
    display: inline-block;
    position: relative;
    color: gray;
    font-size: 19px;
    margin-top: 70px;
    cursor: pointer;
}

h1::after,h1::before {
content: '';
position: absolute;
width: 200px;
height: 1px;
background-color: rgb(221 221 221);
top: 0.6em;
transform: scale(0);
transition: all 0.2s ease-in;
}

h1:hover::before, h1:hover::after {
    transform: scale(1);
}

h1::before {
    left: -225px;
}

h1::after {
    right: -225px;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px; 
    place-content: center;
    margin-left: 287px;
    margin-top: 20px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; 
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 4px;
    color: gray;
  }
  .product-info div p:nth-child(2) {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: gray;
    
  }

.product-info img:hover {
    color: gray;
    cursor: pointer;
}

.footer-container:hover {
    cursor: pointer; 
}

.footer-container {
    margin-right: 285px;
    margin-bottom: 80px;
}

.end-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    height: 100px;
}

.end-container p {
    margin-top: 30px;
    color: gray;
    font-size: 20px;
}

.end-container ul {
    margin-top: 30px;
    font-size: 20px;
    color: gray;
}

.list-end ul li {
    list-style: none;
    display: inline;
    padding: 0 16px;
}

.list-end a {
    color: gray;
    text-decoration: none;
    
}

.name p:hover {
    color: black;
    cursor: pointer;
}

.list-end a:hover {
    color: black;
    cursor: pointer;
}












